* {
    box-sizing: border-box;
  }

.row>*{
    padding-right: 0;
    padding-left: 0;
    flex: 1 1 auto;
}
  
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    border-width: 5px;
    border: 6px solid rgb(129, 237, 41);
    height: auto; 
    margin: 4px; 
    padding: 15px;
    background-color: rgb(230, 229, 229);
}

h2{
    text-align: center; 
}

.p-header{
    text-align: center;
}

.container{
    display: flex;
    text-align: center;
    border-width: 5px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 2.0);
}

.row{
    width: 100%;
}

.col-md-4{
    border: 6px solid rgb(129, 237, 41);
    margin: 4px; 
    text-align: center;
}

#col-1{
    border: 6px solid rgb(237, 41, 41);
    align-content:center;
    width: 49%;
    margin: 5px; 
    text-align: left;
    padding-right: 0;
    padding-left: 0;
}

#col-1a{
    align-content:center;
    width: 49%;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}


#col-2{
    border: 6px solid rgb(41, 51, 237); 
    width: 49%;
    padding: 5px;
}

#row-1{
    border: 6px solid rgb(198, 41, 237);
    width: auto;
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
}

#row-1a{
    width: auto;
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
    padding: 0px;
}

#row-description{
    margin: 0px;
    margin-bottom: 5px;
    float: left;
    width:100%;
    max-height: 190px;
}

input {
    width:100%;
}

#row-2{
    border: 6px solid rgb(237, 230, 41);
    height: 400px;
    width: auto;
    margin: 0px;
    padding-bottom: 0px;
}

#button{
    border-radius: 3px;
    background-color: #0083cf;
    padding: 0.25em;
    border: 0px;
    color: rgb(255, 255, 255);
}

#destination-details{
    text-align: left;
    padding-left: 1em;
}

#form-1{
    padding-top: 0.5em;
}



Label{
    padding: 0.15em;
}